<div>
  <div class= "form-control">
    <h6>Feel free to hit our API to generate text messages </h6>
  </div>
    <p><span> EMAIL KEY </span>= the email of an established customer</p>
    <p><span> VISIT DATE KEY </span> = the visit date for the customer </p>
    <p>These two keys are all you need to generate an automated text message to your cusomter</p>
    <h6>Endpoint (only POST)</h6>
  <div class= 'form-control'>
      https://message-monkey.herokuapp.com/api/v1/messages
  </div>
  <h6>Example</h6>
  <div class= 'form-control'>
  curl -i -X POST -H "Content-Type: application/json" -d "{\"email\":\"admin@bpf.com\",\"visit_date\":\"9/01/2019\"}" https://message-monkey.herokuapp.com/api/v1/messages  </div>
  </div>
</div>
